{% extends 'base.html.twig' %}

{% block body %}
    <div class="border-secondary border rounded-3 border-2 p-4 w-50 offset-3 mt-5">
        {% if error %}
            <div class="alert alert-warning" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <h2 class="text-uppercase text-center text-secondary">login</h2>

        <form action="{{ path('login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="{{ path('account_view') }}"/>

            <div class="mb-3">
                <label for="username" class="form-label">Email:</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="_password"/>
            </div>

            <div class="d-grid gap-0 text-center">
                <button class="btn btn-primary" type="submit">login</button>
                or
                <a class="btn btn-link" href="{{ path('app_register') }}">register</a>
            </div>
        </form>
    </div>
{% endblock %}